html {
    height:110%;
}

body {
    background-image:url(images/mark.png);
    background-repeat: repeat-x;
    position: relative;
    height:110%;
    color: #ffffff;
}

#logo {
    float: left;
    margin: 270px 0px 0px 40px;
    position: fixed;
}

#mainnav {
    margin-top: 200px;
    margin-left: 300px;
    color: #c75b12;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    float: left;
    position: fixed;
}

#mainnav a {
    text-decoration: none;
    color: inherit;
}

#mainnav a:hover {
    color: #eed182;
}

/*#mainnav a:visited {
    color: #c75b12;
}*/


#content {
    padding: 210px 50px 20px 30px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 110%;
    line-height: 150%;
}

#content a {
    text-decoration: none;
    /* color: #e0e1dd; */
    color: #ecc182;
}

/* #content a:visited {
    color: #ecc182;
}*/

#tag {
    font-family: 'Arvo',serif;
    font-size: 120%;
    font-weight: bold;
        
}

#container {
    margin: -10px 0px 0px 390px;
    width: 550px;
    height: 110%;
    background-color:#c75b12; 
}

#footer {
    clear:both;
}


#services {
    padding: 90px 30px 0px 40px;
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 150%;
}

#services #heading {
    font-family: 'Rockwell', serif;
    font-size: 150%;
    font-weight: bolder;
}

#works {
    font-family: 'Arvo', serif;
    font-size: 150%;
    font-weight: bolder;
    padding:  50px 20px 10px 40px;
}

#works img {
    border: 3px solid;
    border-color:  #c75b12 #9d5116 #9d5116 #c75b12 ;
  
}

#pages {
    padding: 30px 20px 10px 40px;
}

#pages p {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 90%;
    line-height: 150%;
}

#pages img {
    border: 5px solid;
    border-color: #000000 ;
}

#pages a{
    text-decoration: none;
    color: #ecc182;
}