html {
    height:100%;
}

body {
    background-image:url(images/mark.png);
    background-repeat: repeat-x;
    position: relative;
    height:100%;
    color: #ffffff;
}

#logo {
    float: left;
    margin: 270px 0px 0px 40px;
    position: fixed;
}

#mainnav {
    margin-top: 200px;
    margin-left: 300px;
    color: #c75b12;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    float: left;
    position: fixed;
}

#mainnav a {
    text-decoration: none;
    color: inherit;
}

#mainnav a:hover {
    color: #888888;
}

#mainnav a:visited {
    color: #c75b12;
}


#content {
    padding: 210px 50px 20px 30px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 110%;
    line-height: 150%;
}

#content a {
    text-decoration: none;
    /* color: #e0e1dd; */
    color: #a3dbe8;
}

#content a {
    color: #ffffff;
}

#content a:visited {
    color: #ecc182;
}

#tag {
    font-family: 'Arvo',serif;
    font-size: 150%;
    font-weight: bolder;
        
}

#container {
    margin: -20px 0px 0px 390px;
    width: 550px;
    height: 110%;
    background-color:#c75b12; 
}

#footer {
    clear:both;
}


#services {
    padding: 90px 30px 0px 40px;
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 150%;
}

#services #heading {
    font-family: 'Arvo', serif;
    font-size: 150%;
}


