#container {
    width:500px;
    /** margin:150px; **/
    margin: 100px 0px 0px 150px;
    /** padding: 150px 0px 0px 150px; **/
    font-family: "trebuchet ms";
}

#footer {
    clear:both;
}

#mc_embed_signup{
    background:#fff; 
    color: #DF6020;
    clear:left; 
    font:14px "trebuchet ms"; 
}

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
}

#mc-embedded-subscribe {
    background-color: #DF6020;
}

#mc_embed_signup input.email {
    display: block;
    padding: 8px 0;
    margin: 0 4% 10px 0;
    text-indent: 5px;
    width: 58%;
    min-width: 130px;
}

#mc_embed_signup .clear {
    clear: none;
    display: inline;
}

#mc_embed_signup label {
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}

#mc_embed_signup input.button {
    display: block;
    width: 35%;
    margin: 0 0 10px 0;
    min-width: 90px;
}

#mc_embed_signup .button {
    clear: both;
    border: 0 none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}